@{
    ViewBag.Title = "Detalle de los pedidos";
}

<h2>Detalle_Pedido</h2>

<div class="table-responsive">
    <table class="table table-hover">
        <tbody>
            @foreach (var pedido in Model)
            {
                <tr>
                    <th>#</th>
                    <td>@pedido.id</td>
                </tr>
                <tr>
                    <th>Pedido</th>
                    <td>@pedido.Pedido.numPedido</td>
                </tr>
                <tr>
                    <th>Producto</th>
                    <td>@pedido.Producto.nomProducto</td>
                </tr>
                <tr>
                    <th>Cantidad</th>
                    <td>@pedido.cantidad</td>
                </tr>
                <tr>
                    <th>Topping1</th>
                    <td>@pedido.Topping1.nomTopping</td>
                </tr>
                <tr>
                    <th>Topping2</th>
                    <td>@pedido.Topping2.nomTopping</td>
                </tr>
                <tr>
                    <th></th>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>



